<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Halt, stopp!</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>HALT — stopp!
Du musst aus dem Tagesgeschäft raus — anhalten, um später wieder schneller zu laufen.

Du hast viele Ballons in der Luft, die langsam nach unten gleiten — welche dotzt Du wieder hoch?

Angewandte KI hat nichts mit KI zu tun, viel aber mit Deinen wichtigen Ballons: Wie hältst Du alles am Laufen, und wie pustest Du neue Luft in Deine Herzensprojekte?

Das sind die eigentlichen Fragen, die Dich leiten — und die KI allein bietet keine Antworten. Ich helfe meinen KundInnen, in Sparringgesprächen auf diese Fragen Antworten zu finden und nutze KI und Kreidetafel dabei als Hauptwerkzeuge.</p>
      </div>
  
    </div>
  </div>
</section>
